@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
div{
  padding: 0;
  margin: 0;
}
/* ========== ROOT CSS STYLE ========== */
.container{
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}
ul li{
  list-style: none;
}
/* ========== ROOT CSS STYLE ========== */

/* ========== HEADER AREA START ========== */
.banner-area{
  width: 100%;
  background-color: #161616;
  border-radius: 25px;
  display: flex;
}
.banner-info, .banner-image{
  width: 50%;
}
.banner-info{
  color: #fff;
  margin: auto 0;
  padding: 80px 0;
  padding-left: 100px;
}
.banner-title{
  font-size: 4.4em;
  line-height: 80px;
}
.banner-slogan{
  padding: 10px 0 30px;
  line-height: 26px;
}
.banner-image{
  font-size: 1em;
  padding-left: 40px;
  padding-right: 40px;
}
.banner-image img{
  width: 100%;
  height: 100%;
}

.banner-button{
  text-decoration: none;
  color: #fff;
  background-color: #DD0000;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #DD0000;
}
.banner-button i{
  padding-left: 10px;
}
.banner-button:hover{
  transition: 0.2s;
  background-color: transparent;
}
.banner-button:hover > .icon{
  animation: floating 1s ease-in-out 0s infinite alternate;
  animation-play-state: running;
}
@keyframes floating{
  from {
    padding-left: 10px;
    transform: scale(1);
  }
  to{
    padding-left: 18px;
    transform: scale(1.1);
  }
}
/* ========== HEADER AREA END ========== */

/* ========== MAIN CONTENT START ========== */
.main-content{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 24px;
}
/* ========== MAIN CONTENT END ========== */

/* ========== SIDEBAR AREA START ========== */
.navbar{
  width: 312px;
  padding: 30px;
  background-color: #161616;
  border-radius: 10px;
}
.navbar .nav-items{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.navbar  .nav-link{
  text-decoration: none;
  color: #161616;
  background-color: #fff;
  padding: 16px 20px;
  display: block;
  text-align: center;
  border-radius: 10px;
  font-size: 1.25em;
  font-weight: 500;
  transition: 0.2s;
}
.navbar .nav-link.active,
.navbar .nav-link:hover{
  background-color: #DD0000;
  color: #fff;
}
/* ========== SIDEBAR AREA START ========== */

/* ========== BLOGS AREA START ========== */
.blogs .blog-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.single-blog{
  border: 1px solid #E8E8E8;
  border-radius: 10px;
}
.blog-thumbnail img{
  width: 100%;
}
.single-blog-info{
  padding: 15px 10px;
}
.single-blog-info .category{
  text-decoration: none;
  border: 1px solid #161616;
  padding: 4px 16px;
  font-weight: 500;
  color: #161616;
  border-radius: 5px;
  transition: 00.3s;
}
.single-blog-info .category:hover{
  background-color: #161616;
  color: #fff;
}
.blog-title{
  font-size: 1.08em;
  font-weight: 600;
  padding: 20px 0;
  cursor: pointer;
}
.blog-extra-info{
  display: flex;
  align-items: center;
  gap: 8px;
}
.blog-extra-info span{
  padding-right: 30px;
}
.view-more-section{
  text-align: center;
  padding: 60px 20px 30px;
  display: none;
}
.load-more-button{
  text-decoration: none;
  color: #fff;
  background-color: #DD0000;
  padding: 12px 30px;
  border-radius: 5px;
  border: 1px solid #DD0000;
  font-size: 20px;
  font-weight: 500;
}
.load-more-button:hover{
  transition: 0.2s;
  background-color: transparent;
  color: #DD0000;
}
/* ========== BLOGS AREA END ========== */

/* ========== FOOTER AREA START ========== */
.footer{
  background-color: #161616;
  padding: 20px;
  text-align: center;
}
.footer-logo h3{
  font-size: 2.5em;
  font-weight: 600;
  padding: 40px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-navbar{
  padding: 50px 20px 40px;
  text-align: center;
}
.footer-navbar .nav-link{
  text-decoration: none;
  color: #B9B9B9;
  margin: 30px;
  line-height: 50px;
}
.footer-navbar .nav-link:hover{
  color: #fff;
}
/* ========== FOOTER AREA END ========== */

/* ========== MATCHES AREA END ========== */
.matches .match-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.single-match{
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  padding: 50px 30px;
  text-align: center;
}
.match-flags{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.match-flags img{
  width: 100%;
}
.match-flags .vs{
  font-weight: 700;
}
.match-info .match-title{
  font-size: 1.25em;
  font-weight: 600;
  padding: 16px 0 10px;
  color: #161616;
}
.match-info .match-time{
  color: #4D4D4D;
}
/* ========== MATCHES AREA END ========== */


/* ========== MEDIA QUERY - RESPONSIVE CSS ========== */
@media screen and (max-width: 1268px) {
  /* banner area */
  .banner-title{
    font-size: 3.8em;
    line-height: 80px;
  }

  /* matches area */
  .single-match{
    padding: 40px 20px;
  }
  .match-flags{
    gap: 10px;
  }
  .match-flags img{
    width: 40%;
  }
  .match-info .match-title{
    font-size: 1.12em;
    padding: 18px 0 10px;
  }
  .match-info .match-time{
    font-size: 0.9em;
  }
}
@media screen and (max-width: 1150px) {
  /* banner area */
  .banner-title{
    font-size: 3.5em;
    line-height: 80px;
  }

  /* sidebar area */
  .navbar{
    width: 280px;
    padding: 20px;
  }
  .navbar .nav-items{
    gap: 20px;
  }
  .navbar .nav-link{
    padding: 12px 15px;
    font-size: 1.1em;
  }

  /* matches area */
  .single-match{
    padding: 30px 15px;
  }
}
@media screen and (max-width: 1080px) {
  /* banner area */
  .banner-title{
    font-size: 3em;
    line-height: 60px;
  }

  /* sidebar area */
  .navbar{
    width: 260px;
    padding: 20px;
  }
  .navbar .nav-items{
    gap: 16px;
  }
  .navbar .nav-link{
    padding: 12px 15px;
    font-size: 1em;
  }

  /* blogs area */
  .blog-title{
    font-size: 1em;
    font-weight: 600;
    padding: 16px 0;
  }
  .single-blog-info .category{
    padding: 4px 12px;
    font-size: 0.9em;
  }
  .blog-extra-info{
    gap: 6px;
  }
  .blog-extra-info span{
    padding-right: 20px;
  }

  /* matches area */
  .single-match{
    padding: 26px 12px;
  }
  .match-info .match-title{
    font-size: 1em;
    padding: 14px 0 10px;
  }
  .match-info .match-time{
    font-size: 0.8em;
  }
}
@media screen and (max-width: 992px) {
  /* banner area */
  .banner-info{
    padding: 40px 0 60px;
    padding-left: 60px;
  }
  .banner-title{
    font-size: 2.5em;
    line-height: 50px;
  }
  .banner-image{
    padding-left: 40px;
    padding-right: 40px;
  }
  .banner-button{
    padding: 12px 20px;
  }

  /* main content area */
  .main-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  /* sidebar area */
  .navbar{
    width: auto;
    padding: 0px;

    background-color: transparent;
    border-radius: 10px;
  }
  .navbar .nav-items{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .navbar  .nav-link{
    font-size: 1.25em;
    border: 1px solid #B9B9B9;
  }
  .navbar .nav-link.active{
    border: 1px solid #DD0000;
  }

  /* blogs area */
  .blogs .blog-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .single-blog-info{
    padding: 30px 20px;
  }
  .single-blog-info .category{
    padding: 4px 16px;
    font-size: 1em;
  }
  .blog-title{
    font-size: 1.2em;
  }
  .blog-extra-info span{
    padding-right: 30px;
  }
  .view-more-section{
    display: block;
  }

  /* matches area */
  .matches .match-items{
    grid-template-columns: repeat(2, 1fr);
  }
  .single-match{
    padding: 50px 30px;
  }
  .match-flags{
    gap: 15px;
  }
  .match-flags img{
    width: 100%;
  }
  .match-info .match-title{
    font-size: 1.25em;
    padding: 16px 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .container{
    padding: 20px;
  }
  /* banner area */
  .banner-area{
    flex-direction: column;
  }
  .banner-info, .banner-image{
    width: 100%;
  }
  .banner-info{
    padding: 60px 60px;
    text-align: center;
  }
  .banner-title{
    font-size: 2em;
    line-height: 60px;
  }
  .banner-slogan{
    padding: 20px 0 40px;
    line-height: 26px;
  }
  .banner-image{
    text-align: center;
    margin-bottom: -6px;
  }
  .banner-image img{
    width: 70%;
  }
  .banner-button{
    padding: 18px 40px;
  }

  /* sidebar area */
  .navbar .nav-items{
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* blogs area */
  .blogs .blog-items{
    display: grid;
    grid-template-columns: 1fr;
  }
  .blog-extra-info span{
    padding-right: 30px;
  }
  .view-more-section{
    display: none;
  }

  /* matches area */
  .matches .match-items{
    grid-template-columns: 1fr;
  }
  .single-match{
    padding: 50px 30px;
  }

  /* footer area */
  .footer-navbar .nav-link{
    display: block;
    line-height: 30px;
  }
}
/* ========== MEDIA QUERY - RESPONSIVE CSS ========== */
